@import '../bootstrap/css/bootstrap.min.css';
@import '../fontawesome/css/all.css';
@import '../fontawesome/css/brands.min.css';
@import '../fontawesome/css/regular.min.css';
@import '../fontawesome/css/solid.min.css';
@import '../animate/css/animations.css';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    color: #4d4d4d;
    src: url('../font/roboto-v20-latin-regular.eot') format('embedded-opentype');
    src: url('../font/roboto-v20-latin-regular.svg#Roboto') format('svg'),
        url('../font/roboto-v20-latin-regular.ttf') format('truetype'),
        url('../font/roboto-v20-latin-regular.woff') format('woff'),
        url('../font/roboto-v20-latin-regular.woff2') format('woff2');
}

::-moz-selection{
    color: antiquewhite;
    background-color: #5d05ff; 
    opacity: 0.6;
}

::selection {
    color: antiquewhite;
    background-color: #4747e6;
    opacity: 0.6;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color:#cccccc;
    box-shadow: 0px 8px 10px 0px grey;
}

::-webkit-scrollbar-thumb:hover {
    background-color: cadetblue;
    opacity: 0.8;
    box-shadow: 0px 9px 12px 0px grey;
}

::-webkit-scrollbar-track {
    background-color: #dedede;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

table {
    word-break: break-all;
}

.TIN {
    background-color: rgb(117, 117, 117);
}

.GREEN {
    background-color: green;
}

.ORANGE {
    background-color: orange;
}

.menu {
    width: 18px;
    box-sizing: border-box;
    transition: all .25s;
}

.xtable {
    height: 56px;
}

.selectedValue {
    background-color: rgba(43, 255, 0, 0.5);
}

.xblock:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    #numberContract {
        width: 25%;
    }
    .blockNumber {
        width: 25%;
    }
    .loginForm {
        width: 25%;
        margin-top: 10px;
        box-shadow: 0px -0.25px 5px 0px grey;
    }
    .registreForm {
        width: 50%;
        margin-top: 30px;
    }
    .wrapper {
        margin: auto;
        padding-top: 7vh;
        width: 70%;
    }
    .menu:hover {
        font-size: 20px;
    }
    .menuChoice:hover {
        background-color: rgba(43, 255, 0, 0.5);
        cursor: pointer;
    }
    .validator {
        margin: auto;
        width: 25%;
        box-shadow: 0px 0.25px 5px 0px grey;
        margin-top: 200px;
        background-color: white;
    }
    .searchBar {
        width: 25%;
        word-break: break-all;
    }
}

@media only screen and (max-width: 600px) {
    #numberContract {
        width: 50%;
    }
    .mimtable {
        font-size: 10px;
    }
    .blockNumber {
        width: 50%;
    }
    .loginForm {
        width: 90%;
        margin-top: 15px;
        box-shadow: 0px -0.10px 20px 0px grey;
    }
    .registreForm {
        width: 100%;
    }
    .menuMaxLength {
        display: none;
    }
    .wrapper {
        margin: auto;
        padding-top: 7vh;
        width: 80%;
    }
    .validator {
        margin: auto;
        width: 75%;
        box-shadow: 0px 0.25px 5px 0px grey;
        margin-top: 250px;
        background-color: white;
    }
    .searchBar {
        width: 90%;
        margin: auto;
        word-break: break-all;
    }
}